/* Import Larken Medium font */

@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bytesized&family=Marcellus&family=Turret+Road:wght@200;300;400;500;700;800&family=Yuji+Syuku&display=swap');
@import url("scroll.css");
html {
    background: url(../img/fondo.svg) repeat-x;
    background-size: cover;
    background-attachment: fixed;
    background-size: auto 100%;
}

div.scroller {
    width: 300px;
    height: 100px;
    overflow-y: scroll;
    scrollbar-color: lightblue white;

}

body {


    font-family: "Marcellus", serif;

    /* 
background-color: #4b36d1;
background-image:  linear-gradient(0deg, blue, white);
line-height: 20px;
*/

    div.scroller {
        width: 300px;
        height: 100px;
        overflow-y: scroll;
        scrollbar-color: pink lightblue;
    }

}



.wrapper {

    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center align the cards horizontally */
}

#top {

    color: #3f87cb;
    text-align: center;
    font-size: 30px;
    line-height: 26px;
}

#top h1 {


    margin: 2%;
    line-height: 50px;
}

#top p {
    font-family: 'Bytesized', sans-serif;
}

#menubar {

    width: 190px;
    float: right;
}

#menulist {

    display: flex;
    /* Arrange list items in a row */
    gap: 10px;
    /* Add spacing between icons */
    list-style: none;
    /* Remove default list styling */
    padding: 0;
    margin: 0;
    justify-content: center;
    /* Center the icons horizontally */
    align-items: center;
    /* Center the icons vertically */
}

#main {

    display: inline-block;


    margin: 50px;
    border-radius: 30px;


    background-color: #6fa7f1;


}

#main h1 {

    writing-mode: vertical-rl;
    /* Set text direction to vertical */
    transform: rotate(180deg);
    /* Rotate the text to go from bottom to top */
    text-align: center;
    margin: 0;
    /* Remove default margin */
    position: absolute;
    /* Position it relative to the card */
    top: 32%;
    left: 20%;
    transform: translate(-50%, -50%) rotate(180deg);
    /* Center and adjust rotation */
}

@media (min-width: 768px) and (max-width: 1023px) {

    /* Tablet view */
    #main h1 {

        top: 35%;
        /* Keep it vertically centered */
        left: 34%;
        /* Adjust closer to the GIF for tablet */
        transform: translate(-50%, -50%) rotate(180deg);
        /* Center and adjust rotation */
    }
}

@media (min-width: 1024px) {

    /* Desktop view */
    #main h1 {
        top: 35%;
        /* Keep it vertically centered */
        left: 25%;
        /* Adjust closer to the GIF for desktop */
        transform: translate(-50%, -50%) rotate(180deg);
        /* Center and adjust rotation */
    }
}

#main h1,
#main h2 {
    color: #ffffff;
}

#sidebar {

    display: inline-block;

    padding: 10px;
    margin: 50px;
    border-radius: 30px;


    background-color: #6fa7f1;
    color: #ffffff;

}

#bottom {
    color: #ffffff;
    text-align: center;
    padding: 10px;
    font-size: 70%;

}



a {
    color: #456b6a;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.centered-image {
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 50%;
    /* Puedes ajustar este valor según sea necesario */
}

.card {
    width: 400px;
}

.image-container {
    line-height: 0;
    overflow: hidden;
    float: right;
    width: 75%;
    /* Set the width to 75% of the card */
    height: 100%;
    /* Match the height of the card */
    border-radius: 15px;
    /* Rounded borders */
    overflow: hidden;
    position: relative;
    /* For positioning the hover effect */
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ensure the image covers the container */
    transition: opacity 0.3s ease;
    /* Smooth transition for hover effect */
}

.image-container .hover-content {
    line-height: 1.2em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* Ensure it spans the full width */
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    /* White background with slight transparency */
    display: block;
    /* Change to block for more flexible content */
    padding: 20px;
    /* Add padding for text spacing */
    text-align: left;
    /* Align text to the left */
    overflow-y: auto;
    /* Allow scrolling if content overflows */
    box-sizing: border-box;
    /* Include padding in width calculation */
    opacity: 0;
    /* Initially hidden */
    transition: opacity 0.3s ease;
    /* Smooth transition for hover effect */
}

.image-container:hover .hover-content {
    opacity: 1;
}

@media (max-width: 800px) {
    #sidebar {
        width: auto;
        position: relative;
        
    }

    #main {
        margin-right: 0;
    }
}

@media (max-width: 600px) {
    #menubar {
        width: auto;
        float: none;
    }

    #main,
    #sidebar {
       
      
        margin: 20px 0;
        /* Add margin to separate the cards */
        width: 80%;
    }
}